
h1,h2 {
    color: red;
    text-align: center;
}

p {
    color: white;
    text-align: justify;
    display: block;
    width: 50vw;
    margin: auto;
}

div.main > div {
    width: fit-content;
    margin: 0.25rem auto;
}

div.main > div > img {
    max-width: 50vw;
    border: 0.25rem white solid;
}


.base {
    background-color: darkred;
    color: white;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div#header {
    top: 0px;
}

div#footer {
    bottom: 0px;
    grid-row: 3/4;
}

div#content {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 5vh auto 5vh;
}

div.navb {
    font-size: 28px;
    font-weight: bold;
    min-width: 33%;
    width: 20vw;
    height: 100%;
    text-align: center;
    line-height: 5vh;
}

div.navb:hover, div.navb:focus {
    background-color: rgb(36, 7, 13);
}

div.main {
    display: grid;
    justify-content: center;
}

div.menuDiv {
    border: 0.25rem solid rgb(228, 52, 52);
    padding: 0.5rem 2rem;
    margin: 1rem auto;
    border-radius: 1rem;
}

div.menuDiv > div > img {
    max-width: 60vw;
    border:  0.25rem white;
    border-radius: 1rem;
    margin: 1rem 0rem;
}

div.menuDiv > p {
    font-size: large;
}

div.menuDiv > p > span {
    font-weight: bold;
    color: red;
}

